@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 80%;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 5px;
  justify-content: center;
}

.txtcontainer {
  margin: 30px auto;
  max-width: 80%;
  overflow: auto;
  padding: 30px;
  border-radius: 5px;
  border: 1px solid steelblue;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid steelblue;
  overflow: auto;
  margin-top: 15px;
  max-width: 75%;
  margin-left: 12.5%;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.footer {
  margin-top: 30px;
  text-align: center;
}


.img {
  width: 100%;
  height: auto;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}